*{
    margin: 0;
    padding: 0;
}
body{
    background:rgb(204, 201, 201) ;
}
a{
    text-decoration: none;
    color: rgb(245, 243, 243);
}
nav{
    width: 100%;
    text-align: right;
}
ul{
 padding-right: 15px; 
}
li{
    display: inline-block;
    padding: 10px;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.91em;
    background: rgba(255, 255, 255, 0.24);
}